{% block body %}
    <div class="container  d-flex justify-content-center">
        <h3>Erreur</h3>
        <p>Votre compte est inactif, veuillez contacter un administrateur.</p>
    </div>
{% endblock %}
