{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un compte</h1>

        <div>

            {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(registrationForm) }}
            <a href="{{ path('app_login') }}">J'ai déjà un compte</a>
        </div>

    </div>
{% endblock %}
