{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <h3>nom du profil</h3>
    <div>

        <img height="150px" width="150px" src="{{ asset('img/avatar/' )}}" alt="">
    </div>

    <div>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}


        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
