{% extends 'base.html.twig' %}

{% block title %} Creation d'une nouvelle sortie {% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-5">Nouvelle sortie</h1>
    <div class="container">
        <div>
            {{ form_start(sortieForm) }}
                {{ form_widget(sortieForm) }}
                <button type="button" class="btn btn-info">Créer</button>
            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}

