.custom-center{
    width: 80%;
}
.circular--landscape {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -60px;
}
#avatar-profil{
    width: 80%;
    float: right;
}
footer{
    margin-top: 10px;
}
.div-hide{
    display: none;
}

div.x-button {

    float: right;
    padding: 0;
    margin-right: 0;
}
.info{
    color: black;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
}