<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Sorties !{% endblock %}</title>

        <!-- CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    </head>
    <body>
    <div>{%  include('inc/nav.html.twig') %}</div>
        {% block body %}{% endblock %}
    </body>
</html>
